.App {
  text-align: center;
}

#header {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: #1f2024;
  margin: auto -16px;
  padding: 0px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
#heading {
  text-align: center;
  color: white;
  font-size: x-large;
}
#dynamic{
  background-color: #1f2024;
  padding:10px;
  margin: 1px -16px;
  border-radius: 5px;
  display: flex;
  
  flex-direction: row;
}
#adder {
  border-radius: 5px;
  color:aliceblue;
  background-color: #292a2f;
  width:98px;
  height:50px;
  margin-left: 15px;
}
#footer{
  background-color: #1f2024;
  padding:10px;
  margin: 1px -16px;
}
#ending{
  background-color: #1f2024;
  color: white;
  text-align: center;
}
#todo{
  background-color: #292a2f;
  margin-left: 24px;
  padding:10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 200px;
  height:fit-content;
}
#todo_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#todo_lists{
  display: flex;
  flex-direction: row;
  height:24px;
  margin-top: 5px;
}
.inpt{
  width: 150px;
  height:16px;
  border-radius: 5px;
  margin-top: 2px;
  background-color: #1f2024;
  color:aliceblue;
}
#editbtn{
  border-radius: 5px;
  background-color: #1f2024;
  color: aliceblue;
  height: min-content;
  margin-top: 2px;
  margin-left: 3px;
}
#itemadder{
  margin-top: 8px;
  width:100%;
  border-radius: 5px;
  color:white;
  background-color: #1f2024;
  height:25px;
}
p.inpt{
  width:158px;
  height:22px;
}